:root{
    --gray:rgb(235,238,240);
    --greyButtonText:rgba(0,0,0,0.34);
    --grayText:rgb(101,119,134);
    --spacing:1.5rem;
    --corner-radius-sm:1.6rem;
    --corner-radius-full:9999px;
    --black:rgba(0,0,0,0);
    --blue:rgba(29,161,242,1.00);
    --blue-50-a1:rgba(29,161,242,0.1);
    --elevation-lined:rgba(0,0,0,0.02) 0px 0px 2px inset;
    --elevation-raised:rgba(101,119,134,0.2) 0px 0px 15px, rgba(101,119,134,0.15) 0px 0px 3px 1px;
}
section.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
header.h-heading-wr {
    grid-column: 1/2;
    height: 100%;
    padding: 0 2rem;
    border-right: .1rem solid rgb(235,238,240);
    width: 341px;
    position: relative;
}
.h-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    width: 234px;
    position: fixed;
}
.h-wrapper-nav-link {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.h-wrapper-nav-link .site-logo {
    padding: .4rem 0;
}
h1.site-logo-heading {
    min-width: 3rem;
}
a.site-logo-link {
    width: 5rem;
    height: 5rem;
    display: block;
    text-align: center;
    border-radius:var(--corner-radius-full);
    padding: 1rem;
    border: .1rem solid var(--black);
    transition:background-color .3s;
}
.site-logo-link img{
    fill:var(--blue);
    width:5rem;
    height:5rem;
}
.site-logo-link:hover{
    background-color: var(--blue-50-a1);
}
/* Nav Style */
nav.nav {
    flex: 1;
}
a.link {
    display: flex;
    align-items:center;
    margin: 2rem 0;
    font-size: 1.7rem;
    color: rgb(15,20,25);
    font-weight: 700;
    padding: 1rem;
    width: 20rem;
    border-radius: 9999px;
}
.link h3 {
    margin-left: 2rem;
}
.link:hover{
    background-color:var(--blue-50-a1);
}
nav a:hover,nav a:hover h3{
    color:var(--blue);
    fill:var(--blue);
}
/* Footer */
footer.w-header-footer {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
}
.w-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    width: 100%;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(15,20,25);
    transition:background-color 0.3s;
}
.w-header-fullName {
    font-weight: 700;
}
.w-header-container:hover{
    background-color: rgba(29,161,242,0.1);
}
.w-header-pr{
    box-shadow:var(--elevation-lined); 
    border:0.1rem solid rgba(0,0,0,0.02);
    border-radius: 9999px;
    width:3rem;
    height:3rem;
}
.w-header-pr img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}
.active h3{
    color:rgba(29,161,242,1.00);

}
.active svg{
 fill:rgba(29,161,242,1.00);
}
/* Modal Footer */
div.logout-modal{
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background: rgb(0,0,0); /*Fallback color*/
    background: rgba(0,0,0,0);
    display: none;
}
.logout-wrapper {
    position: fixed;
    bottom: 7.9rem;
    left: 29.5px;
}
.logout-container {
    border-radius:var(--corner-radius-sm);
    position: relative;
    background: rgba(255,255,255,1.0);
    box-shadow: var(--elevation-raised);
}
svg.down {
    transform: rotate(180deg);
    position: absolute;
    fill: #fff;
    left: 13.5rem;
    bottom: -1.7rem;
}
.logout-modal-body {
    width: 300px;
    min-width: 260px;
    max-width: 360px;
    max-height: 480px;
    height: 114px;
    overflow: hidden;
}
.wrapper-image {
    height: 4.9rem;
    width: 4.9rem;
    margin-right: 1rem;
    box-shadow: rgba(0,0,0,0.02) 0px 0px 2px inset;
}
.wrapper-image img{
    height: 100%;
    width:100%;
    border-radius: 9999px;
    object-fit: cover;
}
.logout-modal-header {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: .1rem solid rgb(235,238,240);
}
.user-name {
    font-size: 1.5rem;
    color: rgb(15,20,25);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
span.user-fullName {
    font-weight: 700;
}
span.user-screenName {
    font-weight: 400;
    color: rgb(91,112,131);
}
a.logout-modal-footer {
    padding: 1.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: rgb(15,20,25);
    display: block;
}
.logout-modal-footer:hover{
    background-color: rgb(247,249,250);
}

/* Main Section */
main {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
section.mainSectionContainer {
    grid-column: 1/2;
    border-right: .1rem solid var(--gray);
    display: flex;
    flex-direction: column;
}
.mainSectionContainer .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,1);
    padding:var(--spacing);
    border-bottom:.1rem solid var(--gray);
}
.mainSectionContainer .header-top h4{
    font-size:19px;
    font-weight:800;
    flex:1;
    margin:0;
}
.mainSectionContainer .header-post {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0;
    border-bottom: 1rem solid var(--gray);
}

.userImageContainer{
    width:5rem;
    height:5rem;
}
.userImageContainer img{
    width:100%;
    height:100%;
    border-radius:var(--corner-radius-full);
    object-fit:cover;
    background: #b3b6b9;
}
.textareaContainer{
    flex:1;
    padding-left:var(--spacing);
}
.textareaContainer textarea {
    width: 100%;
    border: none;
    padding: 5px;
    resize: none;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
/* ButtonContainer */
.buttonsContainer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
input#submitPostButton {
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    border-radius: 40px;
    padding: 7px var(--spacing);
    border: none;
    width:80px;
}
.w-count-wrapper{
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
}
.vertical-pipe{
    width: 1px;
    height: 30px;
    margin-left: 8px;
    background-color: rgb(170,184,194);
}
#submitPostButton:disabled{
    cursor: not-allowed !important;
    background-color: var(--blue-50-a1);
}
#submitPostButton:enabled{
    cursor:pointer !important;
}
/* Hash-Mention wrapper */
.hash-box-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 141px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}
.hash-box{
    position: absolute;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    left: 420px;
    overflow-y: auto;
    top: 4px;
    box-shadow: rgb(101 119 134/20%) 0px 0px 15px, rgb(101 119 134/15%) 0px 3px 1px;
}
.h-ment{
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(15,20,15);
    border-bottom: .1rem solid rgb(235.238,240);
    cursor: pointer;
}
.hash-box li:hover div.h-ment{
    background-color: rgb(247,249,250);
}
.ment-w-container{
    display: flex;
    flex-direction: column;

}
.profile-user-icon{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.p-icon{
    color: rgb(19,112,131);
}
.f-follow{
    margin-left: 1rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}
.ment-profile-wrapper{
    display: flex;
    align-items: center;
}
.ment-profile-pic{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    box-shadow: rgb(0 0 0 /2%) 0px 0px 2px inset;
}
.ment-profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    border: .1rem solid rgba(0,0,0,0.04);
    background-color: rgba(26,26,26,0.15);
}
.ment-user-fullName-text{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(15,20,25);
}
.ment-user-username-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91,112,131);
}
.postContainer .post{
    display:flex;
    flex-direction:column;
    padding:var(--spacing);
    cursor:pointer;
    border-bottom:.1rem solid rgb(235,238,240);
    transition: background-color 0.3s;
}
.postContainer .mainContentContainer{
    display:flex;
    flex:1;
}

.postContentContainer{
    padding-left:var(--spacing);
    display:flex;
    flex-direction:column;
    flex:1;
}
.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.post-header a{
    padding-right:0.5rem;
}
a.displayName{
    font-weight:bold;
    color:#000;
    font-size:1.7rem;
}
a.displayName:hover{
    text-decoration: underline;
}
.postContainer .username,.postContainer .date{
    font-size:1.5rem;
    font-weight:600;
    color:var(--grayText);
}
span.dot{
    padding-left:3rem;
    font-size:2rem;
    font-weight:700;
}
svg{
    width:2rem;
    height:2rem;
}
svg.dot-icon{
    width:3rem;
    height:3rem;
    fill:rgb(91,112,131);
}
span.dot:hover svg.dot-icon{
    border-radius:var(--corner-radius-full);
    fill:var(--blue);
    background-color:var(--blue-50-a1);
    padding:3px;
}
.post:hover{
    background-color: rgba(0,0,0,0.03);
}
.post-body div{
    font-size:1.5rem;
    word-break: break-all;
    max-width: 500px;
    line-height:2rem;
    font-weight: 400;
}
.post-footer{
    display:flex;
    align-items:center;
}
.post-footer .postButtonContainer{
    flex:1;
    display:flex;
}
.post-footer .postButtonContainer button{
    margin-top:1rem;
    padding:3px 5px;
    background-color:transparent;
    border:none;
    font-size:2rem;
    color:var(--greyButtonText);
    cursor:pointer;
}
span.retweetsCount {
    color: rgb(23,191,99);
}
span.likesCounter {
    color: rgb(224,36,94);
}