/*************************************************
1. Universal styles(typography,etc)
2. Main Section Style
3. Left Section
4. Right Section
5. Footer
***************************************************/

/*************************************************
1. Universal styles
*************************************************/
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

html,body{
    height: 100%;
    width: 100%;
}
   
html{
    font-size: 62.5%;
}

a{
    text-decoration: none !important;
}

/**** 2. Main Section ****/
.main-page {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    grid-template-rows: 1fr min-content;
}

/**** 3. Left Section ****/
.left {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #1da1f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content div{
    display: flex;
    align-items: center;
    margin: 4rem;
    color: #fff;
}

.left-content i{
    font-size: 3rem;
    margin-right: 2rem;
}

.left-content-heading{
    font-size: 2rem;
}

/*** 4. Right Section ****/

.right {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.middle-content i {
    font-size: 4rem;
    color: #1da1f5;
    margin-bottom: 2rem;
}

.middle-content h1{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    line-height: 4rem;
}

.middle-content h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.middle-content a {
    text-decoration: none;
    display: inline-block;
    margin: 0.8rem 0;
    padding: 0.9rem;
    border: .1rem solid #1da1f5;
    border-radius: 4rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
 .middle-content a.sign-up {
    background: #1da1f5;
    color: #fff;
}

.middle-content a.log-in {
    background: #fff;
    color: rgb(29,161,242,1.00);
}

/*** 5. Footer ***/
footer .main-page-footer {
    grid-column: 1/-1;
    background: #fff;
    padding: 1.5rem;
    grid-row: 2/3;
    border-top: .1rem solid #ddd;
}

.main-page-footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

