RewriteEngine On

RewriteRule ^(verification|signup|login|index|home|logout|profile)/?$ $1.php
RewriteRule ^verification/([a-zA-Z0-9]+)/?$ verification.php?verify=$1
RewriteRule ^([a-zA-Z0-9]+)/?$ profile.php?username=$1